.navbar {
  background: rgb(255, 255, 255);
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  position: sticky;
  top: 0;
  z-index: 3;
}
.logo {
  object-fit: cover;
  height: 4rem;
  width: 5rem;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
}

.desktopMenuListItem:hover{
    color: #255dc5;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #255dc5;
}

.desktopMenuBtn {
 background: linear-gradient(135deg, #255dc5, #5f8fe2);
  color: #fff;
  padding: 0 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.desktopMenuBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.desktopMenuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
}
.active {
    color: #255dc5;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #255dc5;
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height:fit-content;
    min-width: 15rem;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
}

.listItem {
    color: #000;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(255, 255, 255);
}

@media screen and (max-width:720px) {
    .mobMenu {
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
}